<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins",sans-serif;
}
:root{
	--primary-color:#bdbdbd;
	--secondary-color:#b11d09;
	--least-color:#101111;
	--drop-shadow:10px 10px 10px #rgba(0, 0, 0, 0.2);
	--box-shadow:0 0 3px 2px rgba(0,0,0,0.1);
	--primary-font:#181717;
	--border:2px solid rgba(0,0,0,0.6);
}
html{
	scroll-behavior: smooth;
	font-size:62.5%;
	background-color: #FFF;
	/* background: linear-gradient(#fff,#eee,#000); */

}
body{
	overflow-x: hidden;
}
.m-bar{
	display: none;
}
.hero{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.hero .navbar-hamburger{
	display:none;
}
.hero .navbar{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height: 6vh;
	background:transparent;
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap:50% ;
	z-index: 99;
	transition: 400ms;
}
.navbar-hidden{
	transform: translateY(-100%);
}
.navbar.back{
	backdrop-filter: blur(5px);
}
.hero .navbar .logo{
	color:var(--least-color);
	font-size:2rem;
}
.hero .navbar ul{
	display:flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
/* #alink{
	transition: 300ms;
} */
.hero .navbar ul a{
	color:#000;
	text-transform: capitalize;
	font-size:1.9rem;
	transition: 200ms;
}
.hero .navbar ul a:nth-child(1){
	color:var(--secondary-color);
}
.hero .navbar ul a:hover{
	color:var(--secondary-color);
	transition: 300ms;
}
.container{
	width:100%;
	margin-top:6vh;
	height:94vh;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.navbar.scrolled{
	transition:300ms;
	color:#fff;
	backdrop-filter: blur(5px);;
}
.content{
	height:35vh;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:space-between;
}
.container .content h1{
	font-size:3rem;
}
.scroll{
	width:4rem;
	height:4rem;
}
.scroll img{
	width:100%;
	transition:800ms;
	animation-name: scrolldown;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	cursor: pointer;
}
.title .hi{
	font-family: "Playwrite HU", cursive;
	font-optical-sizing: 4rem;
	font-weight: 400;
}
.title .name{
	font-family:"pacifico",cursive;
	font-weight:300;
	color:transparent;
	background-image: linear-gradient(90deg,red,green,purple);
	background-size:300%;
	display:inline-block;
	animation: colorChange 5s  ease infinite;
	transition:200ms;
	-webkit-background-clip: text;
	background-clip:text;
}
.title .text{
	font-size:2rem;
	font-weight:400;
}
@keyframes colorChange{
	0%{
		background-position:0 50%;
	}
	50%{
		background-position:0% 50%;

	}
	100%{
		background-position:50% 100%;
	}
}




/* .about{
	width:100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:10rem;
}
.img-container{
	width:40%;
	height:auto;
	text-align: center;
	animation-name:left-side ;
	animation-timeline: view(30% 20%);
	animation-fill-mode:both;
}
.img-container img{
	width:100%;
}
.text-container{
	width: 30%;
	overflow:none;
	font-size:18px;
	text-align: left;
	animation-name:right-side ;
	animation-timeline:view(30% 20%);
	animation-fill-mode:both;
}
.text-container p{
	text-align: justify;
}
.text-container h2{
	font-size:4rem;
	font-weight:600;
	position:relative;
}
.text-container h2::first-letter{
	font-size:6rem;
	color:var(--secondary-color) ;
}
.text-container h2::after{
	content:"";
	bottom:8px;
	left:0;
	width:50%;
	height:4px;
	border:none;
	border-radius:3px;
	background-color:var(--secondary-color);
	position: absolute;

} */

.about{
	display:flex;
	justify-content: space-around;
	align-items:center;
	width:100%;
	height: auto;
	padding:2rem;
}
.about .img{
	width:50%;
}
.about .img img{
	width:100%;
}
.about .text-container{
	width:40%;
}
.about .text-title h2{
	font-size:3rem;
	font-weight:600;
}
.about .text-title h2::first-letter{
	font-size:4.5rem;
	color:var(--secondary-color);
}
.about .text-container p{
	text-align:justify;
	color: #000;
	font-size:1.8rem;font-weight:400;
	padding:1.5rem;
	/* background: linear-gradient(
		#000,
		#fff,
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; */
}




.projects{
	width:100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	text-align:center;
	padding-top:2rem;
}
.projects .title h2{
	font-size:3.5rem;
	font-weight:400;
	position:relative;
}
.projects .title h2::after{
	content:'';
	position: absolute;
	bottom:0;left:50%;z-index:-1;
	transform:translateX(-50%);
	width:70%;height: 3px;
	background:var(--secondary-color);
	border:none;border-radius:3px;
}
.projects .project-cards{
	width:100%;
	height:70vh;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
}
.projects .separations{
	display : flex;
	justify-content:space-evenly;	
	align-items:center;
	width:90%;

}
.projects .project-cards .card{
	width:300px;
	height: 250px;
	background-image: url("img/card.png");
	background-position: center;background-size:cover;
	/* backdrop-filter: drop-shadow(10px 10px 10px #000) ; */
	border:none;border-radius: 5px;
	display:flex;align-items:center;justify-content:center;
	transition:400ms;
	position: relative;
}
.projects .project-cards .card a{
	padding:10px 20px;
	border: 3px solid #fff;border-radius: 10px;	
	transform: translateY(30px);
	color:#fff;
	font-size:1.2rem;
	opacity: 0;
	transition:400ms;
	z-index: 5;
}
.projects .project-cards .card .divd{
	transition: 400ms;
}
.projects .project-cards .card:hover .divd{
	position: absolute;top:0;left:0;
	width: 100%;height:100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: inherit;
}
.projects .project-cards .card:hover > a{
	transform: translateY(0);
	opacity: 1;
}

.contact{
	width:100%;
	height:85vh;
	display:flex;flex-direction:column;
	align-items:center;
	justify-content: space-between;	
	padding:3rem 0; 
	position: relative;
	margin: auto;
}
.contact a{
	color:#000;
}
.contact .contact-content{
	width:80%;
	height:60vh;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
}
.contact .form{
	flex-basis: 58%;
	display:flex;flex-direction:column;
	gap:1.5rem;
}
.contact .form h2{
	font-size:4rem;
}
.contact .form input,.form textarea{
	padding:10px;
	border: solid rgba(0, 0, 0, 0.8);	
	border-radius:5px;
	/* box-shadow:10px 10px #000; */
}
.contact .form .sep input:nth-child(2){
	margin: 0 3rem;
	width:50%;
}
.contact .form button{
	padding:10px;
	background: #000;
	border-radius:5px;
	color: #fff;
	font-size: 1.6rem;
}
.contact .details{
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items:start;
	justify-content: center;
	font-size:2rem;
	gap:2rem;
	padding-left:2rem;
}
.contact .details i{
	font-size:3rem;
}
.contact .details span{
	display : flex;
	justify-content:center;
	gap:1rem;
}
.footer{
	width:100%;
	text-align:center;
}












@media screen and (max-width:1200px){
	.hero .navbar{
		gap:35%;
	}
	.about{
		flex-direction:column;
	}
	.about .text-container{
		font-size:15px
	}
	.about .text-container{
		width:70%;
	}	
}

@media screen and (max-width:768px){

	section{
		padding: 2rem 3.5%;
		overflow-x: hidden;
	}
	.hero .navbar{
		display:none;
	}
	.hero .navbar-hamburger.active{
		transform: translateX(0%);
	}
	.hero .navbar-hamburger{
		display:inline-block;
		z-index: 89;
		background: rgba(0, 0, 0, 0.9);
		height: 100vh;
		width: 50%;
		position:fixed;
		top:0;
		right: 0;
		transform: translateX(100%);
		transition: transform 500ms;
	}
	.m-bar{
		display: block;
	}
	.m-header .header-h{
		font-size: 30px;
	}
	.m-header h3{
		color:#000;
		font-size:2rem;
	}
	.m-header{
		font-size: 20px;
		font-weight: lighter;
		transform: translateY(-20px);
		font-weight: 300;color: #FFF;
	}
	.bars{ 
		position: fixed;
		z-index: 99;
		top: 30px;
		right:20px;
		width:30px;height: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		backdrop-filter: blur(1.5px);
		cursor: pointer;
	}
	.bars .bar{
		width: 100%;
		height: 3px;
		border-radius:1px ;
		background: #111;
		transition:300ms;
	}	
	.hero .container{
		padding-top:2rem;
	}
	.hero .navbar-hamburger .navbar-menu{
		display: flex;
		height: 80%;
		padding-left:50px;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		z-index: 9;
		gap:30px;
	}
	.hero .navbar-hamburger .navbar-menu a{
		color:#fff;
		font-size: 25px;
	}
	.bar-1.active{
		rotate: 50deg;
		background: #FFF;
		position: absolute;
	}
	.bar-3.active{
		position: absolute;
		rotate: 130deg;
		background: #FFF;
	}
	.bar-2.active{
		display: none;
	}





	.about{
		flex-direction:column;
		padding:0;
	}
	.about .img{
		width:95%;
	}
	.about .text-container{
		width:90%;
		height: 100vh;
		animation-name:scaleContent;
		animation-timeline: view();
		animation-fill-mode: both;
	}
	.about .text-container p{
		font-size:1.55rem;
	}

	.projects .separations{
		display:flex;
		flex-direction:column;
		height: auto;
	}
	.projects .project-cards{
		flex-direction:column;
		justify-content: space-evenly;
	}
	.projects .project-cards .card{
		width:80%;
		height: 100vw;
	}



/* @keyframes scaleContent{
	from{
		opacity:0;
		transform:scale(0.5);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}									 */

}















@keyframes scrolldown{
	0%{
		padding-top:10px;
	}
	25%{
		padding-top:0px;
	}
	50%{
		padding-top:10px;
	}
	75%{
		padding-top:0px;
	}
	100%{
		padding-top: 10px;
	}
}


@keyframes left-side{
	from{
		opacity:0;
		transform:translateX(-200px) scale(0.5);
	}
	to{
		opacity:1;
		transform:translateY(0px) scale(1);
	}
}


@keyframes right-side{
	from{
		opacity:0;
		transform:translateX(200px) scale(0.5);
	}
	to{
		opacity:1;
		transform:translateY(0px) scale(1);
	}
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Pacifico&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins",sans-serif;
}
:root{
	--primary-color:#bdbdbd;
	--secondary-color:#b11d09;
	--least-color:#101111;
	--drop-shadow:10px 10px 10px #rgba(0, 0, 0, 0.2);
	--box-shadow:0 0 3px 2px rgba(0,0,0,0.1);
	--primary-font:#181717;
	--border:2px solid rgba(0,0,0,0.6);
}
html{
	scroll-behavior: smooth;
	font-size:62.5%;
	background-color: #FFF;
	/* background: linear-gradient(#fff,#eee,#000); */

}
body{
	overflow-x: hidden;
}
.m-bar{
	display: none;
}
.hero{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.hero .navbar-hamburger{
	display:none;
}
.hero .navbar{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height: 6vh;
	background:transparent;
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap:50% ;
	z-index: 99;
	transition: 400ms;
}
.navbar-hidden{
	transform: translateY(-100%);
}
.navbar.back{
	backdrop-filter: blur(5px);
}
.hero .navbar .logo{
	color:var(--least-color);
	font-size:2rem;
}
.hero .navbar ul{
	display:flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
/* #alink{
	transition: 300ms;
} */
.hero .navbar ul a{
	color:#000;
	text-transform: capitalize;
	font-size:1.9rem;
	transition: 200ms;
}
.hero .navbar ul a:nth-child(1){
	color:#b11d09;
}
.hero .navbar ul a:hover{
	color:#b11d09;
	transition: 300ms;
}
.container{
	width:100%;
	margin-top:6vh;
	height:94vh;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.navbar.scrolled{
	transition:300ms;
	color:#fff;
	backdrop-filter: blur(5px);;
}
.content{
	height:35vh;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:space-between;
}
.container .content h1{
	font-size:3rem;
}
.scroll{
	width:4rem;
	height:4rem;
}
.scroll img{
	width:100%;
	transition:800ms;
	animation-name: scrolldown;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	cursor: pointer;
}
.title .hi{
	font-family: "Playwrite HU", cursive;
	font-optical-sizing: 4rem;
	font-weight: 400;
}
.title .name{
	font-family:"pacifico",cursive;
	font-weight:300;
}
.title .text{
	font-size:2rem;
	font-weight:400;
}





/* .about{
	width:100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:10rem;
}
.img-container{
	width:40%;
	height:auto;
	text-align: center;
	animation-name:left-side ;
	animation-timeline: view(30% 20%);
	animation-fill-mode:both;
}
.img-container img{
	width:100%;
}
.text-container{
	width: 30%;
	overflow:none;
	font-size:18px;
	text-align: left;
	animation-name:right-side ;
	animation-timeline:view(30% 20%);
	animation-fill-mode:both;
}
.text-container p{
	text-align: justify;
}
.text-container h2{
	font-size:4rem;
	font-weight:600;
	position:relative;
}
.text-container h2::first-letter{
	font-size:6rem;
	color:var(--secondary-color) ;
}
.text-container h2::after{
	content:"";
	bottom:8px;
	left:0;
	width:50%;
	height:4px;
	border:none;
	border-radius:3px;
	background-color:var(--secondary-color);
	position: absolute;

} */

.about{
	display:flex;
	justify-content: space-around;
	align-items:center;
	width:100%;
	height: auto;
	padding:2rem;
}
.about .img{
	width:50%;
}
.about .img img{
	width:100%;
}
.about .text-container{
	width:40%;
}
.about .text-title h2{
	font-size:3rem;
	font-weight:600;
}
.about .text-title h2::first-letter{
	font-size:4.5rem;
	color:#b11d09;
}
.about .text-container p{
	text-align:justify;
	color: #000;
	font-size:1.8rem;font-weight:400;
	padding:1.5rem;
	/* background: linear-gradient(
		#000,
		#fff,
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; */
}




.projects{
	width:100%;
	height:auto;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	text-align:center;
	padding-top:2rem;
}
.projects .title h2{
	font-size:3.5rem;
	font-weight:400;
	position:relative;
}
.projects .title h2::after{
	content:'';
	position: absolute;
	bottom:0;left:50%;z-index:-1;
	transform:translateX(-50%);
	width:60%;height: 3px;
	background:#b11d09;
	border:none;border-radius:3px;
}
.projects .project-cards{
	width:100%;
	height:70vh;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
}
.projects .project-cards .card{
	width:20%;
	display:flex;
	flex-direction:column;
	gap:1.2rem;
	background:#e7e5e5;
	border:none;border-radius:30px;
	padding:2rem;
	align-items: center;
	transition: 400ms;
}
.projects .project-cards .card img{
	width:100%;
	border:none;border-radius: 10px;
}
.projects .project-cards .card a{
	padding:10px;
	background:#111;
	color:#fff;
	border:none;border-radius:5px;
	width: 40%;
}
.projects .project-cards .card:hover{
	font-weight:300;
	font-size: 1.2rem;
	scale:1.1;
}












@media screen and (max-width:1200px){
	.hero .navbar{
		gap:35%;
	}
	.about{
		flex-direction:column;
	}
	.about .text-container{
		font-size:15px
	}
	.about .text-container{
		width:70%;
	}	
}

@media screen and (max-width:768px){

	section{
		padding: 2rem 3.5%;
		overflow-x: hidden;
	}
	.hero .navbar{
		display:none;
	}
	.hero .navbar-hamburger.active{
		transform: translateX(0%);
	}
	.hero .navbar-hamburger{
		display:inline-block;
		z-index: 89;
		background: rgba(0, 0, 0, 0.9);
		height: 100vh;
		width: 50%;
		position:fixed;
		top:0;
		right: 0;
		transform: translateX(100%);
		transition: transform 500ms;
	}
	.m-bar{
		display: block;
	}
	.m-header .header-h{
		font-size: 30px;
	}
	.m-header h3{
		color:#000;
		font-size:2rem;
	}
	.m-header{
		font-size: 20px;
		font-weight: lighter;
		transform: translateY(-20px);
		font-weight: 300;color: #FFF;
	}
	.bars{ 
		position: fixed;
		z-index: 99;
		top: 30px;
		right:20px;
		width:30px;height: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		backdrop-filter: blur(1.5px);
		cursor: pointer;
	}
	.bars .bar{
		width: 100%;
		height: 3px;
		border-radius:1px ;
		background: #111;
		transition:300ms;
	}	
	.hero .container{
		padding-top:2rem;
	}
	.hero .navbar-hamburger .navbar-menu{
		display: flex;
		height: 80%;
		padding-left:50px;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		z-index: 9;
		gap:30px;
	}
	.hero .navbar-hamburger .navbar-menu a{
		color:#fff;
		font-size: 25px;
	}
	.bar-1.active{
		rotate: 50deg;
		background: #FFF;
		position: absolute;
	}
	.bar-3.active{
		position: absolute;
		rotate: 130deg;
		background: #FFF;
	}
	.bar-2.active{
		display: none;
	}





	.about{
		flex-direction:column;
		padding:0;
	}
	.about .img{
		width:95%;
	}
	.about .text-container{
		width:90%;
		animation-name:scaleContent;
		animation-timeline: view();
		animation-fill-mode: both;
	}
	.about .text-container p{
		font-size:1.55rem;
	}


	.projects .project-cards{
		flex-direction:column;
		height:100vw;
		justify-content: space-evenly;
	}
	.projects .project-cards .card{
		width:80%;
	}



/* @keyframes scaleContent{
	from{
		opacity:0;
		transform:scale(0.5);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}									 */

}















@keyframes scrolldown{
	0%{
		padding-top:10px;
	}
	25%{
		padding-top:0px;
	}
	50%{
		padding-top:10px;
	}
	75%{
		padding-top:0px;
	}
	100%{
		padding-top: 10px;
	}
}


@keyframes left-side{
	from{
		opacity:0;
		transform:translateX(-200px) scale(0.5);
	}
	to{
		opacity:1;
		transform:translateY(0px) scale(1);
	}
}


@keyframes right-side{
	from{
		opacity:0;
		transform:translateX(200px) scale(0.5);
	}
	to{
		opacity:1;
		transform:translateY(0px) scale(1);
	}
}
>>>>>>> 68f0454a195641f3be8938f67a14674a097ed199
